<html>
    <head>
        <meta charset="utf-8">
        <title>Kyoro Param</title>

        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    </head>

    <header>
        <div id="nav">
            <h4>KYORO PARAM</h4>
        </div>
    </header>

    <body>
        <div class="container">
            <div class="table-title">
                <h1>Glow</h1>
            </div>

            <div class="signup-modal-wrapper" id="signup-modal">
                <div class="modal">
                  <div>
                    <i class="fa fa-2x fa-times" id="close-modal"></i>
                  </div>
                  <div id="signup-form">
                    <h2>Add Metrics and Value to DB</h2>
                    <form action="#">
                      <select class=”form-control” aria-placeholder="Metrics">
                        <option value="">Metrics</option>
                        <option value=”L1_Generalization”>L1 Generalization</option>
                        <option value=”L1_Specificity”>L1 Specificity</option>
                        <option value=”L1_Average”>L1 Average</option>
                        <option value=”L2_Generalization”>L2 Generalization</option>
                        <option value=”L2_Specificity”>L2 Specificity</option>
                        <option value=”L2_Average”>L2 Average</option>
                      </select>
                      <input class="form-control" type="text" placeholder="Id">
                      <input class="form-control" type="number" placeholder="Value">
                      <div id="submit-btn">ADD DB</div>
                    </form>
                  </div>
                </div>
              </div>
            
            <section class="down-to-top">
                <div class="scroll-table">
                    <table>
                        <tr>
                            <th class="fixed">id</th>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>

                        </tr>

                        <tr>
                            <th class="fixed">date</th>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>

                        </tr>

                        <tr>
                            <th class="fixed">time</th>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>

                        </tr>

                        <tr>
                            <td class="table-name">Parameter</td>
                        </tr>

                        <tr>
                            <th class="fixed">aaa</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">aaa</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">aaa</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <th class="fixed">aaa</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <th class="fixed">aaa</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <th class="fixed">aaa</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <td class="table-name">Metrics
                                <a class="add-btn">+ Add</a>
                            </td>
                        </tr>

                        <tr>
                            <th class="fixed">L1 Generalization</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">L1 Specificity</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">L1 Average</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">L2 Generalization</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">L2 Specificity</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                        <tr>
                            <th class="fixed">L2 Average</th>
                            <td>bbbb</td>
                            <td>cccc</td>
                            <td>eeeee</td>
                            <td>0000</td>
                            <td>ccc</td>
                            <td>aaa</td>
                        </tr>

                    </table>
                </div>

            </section>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>