<html>
    <head>
        <meta charset="utf-8">
        <title>Kyoro Param</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <div id="top-wrapper">


            <div id="main-wrapper">
                <h1>KYORO PARAM</h1>

                <p>Kyoro Paramはパラメータ管理アプリケーションです。</p>


                <img src="/images/kyoroko.png">

            </div>

            
            <div id="btn-wrapper">

                <section class="down-to-top">
                    <a class="btn" href="#">Glow</a>
                    <a class="btn" href="#">VAE</a>
                    <a class="btn" href="#">PCA</a>
                </section>

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>