<html>
    <head>
        <meta charset="utf-8">
        <title>Kyoro Param</title>
        
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">

    </head>

    <header>
        <div id="nav">
            <a class="app-title">KYORO PARAM</a>
        </div>
    </header>

    <body>


        <div id="top-wrapper">


            <div id="main-wrapper">
                <h1>KYORO PARAM</h1>

                <p>Kyoro Param is an application for parameter management.</p>

                <img src="/images/kyoroko.png">

            </div>

            
            <div id="btn-wrapper">

                <section class="down-to-top">
                    <% items.forEach((item) => { %>
                    <form action="/table/<%= item.name %>" method="post">
                        <input class="btn" type="submit" value="<%= item.name %>">
                    </form>
                    <% }); %>

                </section>

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/script.js"></script>
    </body>

</html>